<nav class="container mt-5">
    <!-- Desktop / Tablet inline nav -->
    <div class="d-none d-md-flex justify-content-center">
        <a href="../index.html#about" class="mx-2">about</a>
        <a href="../components/projects.html" class="mx-2">projects</a>
        <a href="../components/art.html" class="mx-2">art</a>
        <a href="../index.html#work" class="mx-2">work</a>
        <a href="../index.html#contact" class="mx-2">contact</a>
    </div>

    <!-- Mobile stacked grid nav -->
    <div class="d-md-none">
        <div class="row text-center">
            <div class="col-4">
                <a href="../index.html#about">about</a>
            </div>
            <div class="col-4">
                <a href="../components/projects.html">projects</a>
            </div>
            <div class="col-4">
                <a href="../components/art.html">art</a>
            </div>
        </div>
        <div class="row text-center mt-2">
            <div class="col-4 offset-2">
                <a href="../index.html#work">work</a>
            </div>
            <div class="col-4">
                <a href="../index.html#contact">contact</a>
            </div>
        </div>
    </div>
</nav>
